---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="Acerca de Nosotros">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Acerca de Nosotros</Fragment>
      <Fragment slot="desc">La Mejor Calidad al Mejor Precio</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">Misión</h2>
      <p class="text-xl leading-relaxed text-slate-700">
        Es proporcionar a nuestros clientes acceso a productos calidad a precios competitivos y justos nos esforzamos por ser una empresa confiable ética estableciendo relaciones sólidas y duradera con nuestros proveedores y clientes nos comprometeremos para ofrecer los servicios excepcionales superando las expectativas de nuestros clientes y contribuyendo el desarrollo económico y social de nuestra comunidad
      </p>
      <h2 class="font-bold text-3xl text-gray-800">
        Visión
      </h2>
      <p class="text-xl leading-relaxed text-slate-700">
        El negocio de ventas en línea de implantes de osteosíntesis a través de una app tiene una visión clara de ser el líder en su mercado local, ofreciendo productos de alta calidad y una experiencia de compra en línea cómoda y segura. La app permitiría a los clientes acceder a información detallada sobre los productos, precios, disponibilidad y características técnicas, así como a realizar pedidos y pagos en línea de manera rápida y sencilla.
      </p>
    </div>
  </Container>
</Layout>
