---
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Button from "@components/ui/button.astro";
import Contactform from "@components/contactform.astro";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contactanos</Fragment>
      <Fragment slot="desc">Con mucho gusto ayudaremos</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16 bg-white rounded-lg p-4">
      <div>
        <h2 class="font-medium text-3xl text-gray-800">Contacto Precio Justo SRL</h2>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-800">
            <Icon class="text-gray-400 w-8 h-8" name="uil:envelope" /><a
            href="mailto:preciojusto100porcientojusto@gmail.com"
            >preciojusto100porcientojusto@gmail.com</a
            >
          </div><div class="flex items-center mt-2 space-x-2 text-gray-800">
            <Icon class="text-gray-400 w-8 h-8" name="uil:phone" /><a
            href="tel:+1 (987) 4587 899">+591 68687491</a
            >
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-800">
            <Icon class="text-gray-400 w-8 h-8" name="uil:map-marker" />
            <span>Bolivia</span>
          </div>
        </div>
      </div>
    </div>
  </Container>
</Layout>
