---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Multimedia">
  <div class="grid grid-cols-3 gap-4 max-w-3xl mx-auto">
    <div class="">
      <iframe
        width="232"
        height="413"
        src="https://www.youtube.com/embed/uSnk0_tok8E"
        title=""
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    <div>
      <iframe
        width="232"
        height="413"
        src="https://www.youtube.com/embed/VGhcfEb6n94"
        title=""
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    <div>
      <iframe
        width="232"
        height="413"
        src="https://www.youtube.com/embed/VGhcfEb6n94"
        title=""
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    <div>
      <iframe
        width="232"
        height="413"
        src="https://www.youtube.com/embed/VGhcfEb6n94"
        title=""
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    <div>
      <iframe
        width="232"
        height="413"
        src="https://www.youtube.com/embed/VGhcfEb6n94"
        title=""
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    <div>
      <iframe
        width="232"
        height="413"
        src="https://www.youtube.com/embed/VGhcfEb6n94"
        title=""
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
  </div>
</Layout>
