---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Certificaciones y Garantías",
    description:
      "Garantizamos productos médicos certificados para fortalecer la confianza y seguridad de nuestros clientes.",
    icon: "bx:bx-shield",
  },
  {
    title: "Donaciones y Trabajo Social",
    description:
      "Contribuimos al bienestar social mediante donaciones y participación activa en actividades comunitarias.",
    icon: "bx:bx-dollar",
  },
  {
    title: "Alianzas estratégicas",
    description:
      "Formamos alianzas con entidades médicas para ampliar nuestro alcance y visibilidad en el mercado.",
    icon: "bx:bx-clinic",
  },
  {
    title: "Velamos por los mas necesitados",
    description:
      "Dedicamos gran parte de nuestros ingresos para ayudar a las personas que más lo necesitan.",
    icon: "bx:bxs-data",
  },
  {
    title: "Tecnologías de Vanguardia",
    description:
      "Invertimos en innovación tecnológica para ofrecer productos de calidad y mantener nuestra competitividad.",
    icon: "bx:bx-tab",
  },
  {
    title: "Involucramos al Paciente",
    description:
      "Proporcionamos información clara a los pacientes, permitiéndoles elegir entre diferentes implantes.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    ¿Requieren adquirir un producto de calidad, adecuadamente certificado y de precio bajo?
  </h2>
  <p class="text-2xl my-12 text-slate-800">
    En Precio Justo tenemos una amplia gama de productos de osteosíntesis de alta calidad y marcas reconocidas, a precios competitivos y con una entrega rápida y confiable.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full p-2 w-12 h-12 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-xl">{item.title}</h3>{" "}
          <p class="text-slate-700 text-lg mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
